{% extends "layout.html" %} {% block content %}

<div class="container mt-5 px-3 py-4 rounded-3 w-75 mx-auto">

    <p class=" mb-2 fs-1">Login</p>
    <p class=" mb-2 fs-5">{{error}}</p>

    <form method="POST">
        {% csrf_token %}

        <p class="mt-2 mb-0 fs-4">Username</p>
        <input class="w-100 rounded-3 px-2 py-1 fs-5" type="text" name="username" value="{{username}}" placeholder="Enter your username">
        <p class="mt-2 mb-0 fs-4">Password</p>
        <input class="w-100 rounded-3 px-2 py-1 fs-5" type="password" name="password" value="{{password}}" placeholder="Enter your password">

        <br>
        <button type="submit" class="mt-4 px-4 py-1 rounded-pill fs-4 border-0">Login</button>
    </form>

</div>

{% endblock content %}
