{% extends "layout.html" %} {% block content %}
<span></span>
{% with request.resolver_match.kwargs.association as association %}

<div class="col-lg-6 col-md-9 col-11 mx-auto">

	<a href="{% url 'add_expense' association %}">
		<button class="mt-4 px-4 py-1 rounded-pill fs-5">Add {{association.title}} Expense</button>
	</a>

	{% for expense in expenses %}

	<div class="container mt-4 py-2 rounded-3">
		<p class="m-0 fs-5">Rs. {{expense.amount}}</p>
		<p class="m-0 fs-6">Category: {{expense.category.category}}</p>
		{% if expense.reason %}
		<p class="m-0 fs-6">Reason: {{expense.reason}}</p>
		{% endif %}
		<p class="m-0 fs-6">Reported By: {{expense.reported_by.name}}</p>

		<p class="m-0 mt-2"></p>

		<a href="{% url 'update_expense' association expense.id %}">
			<button class="px-3 rounded-pill fs-6">Update</button>
		</a>
		<a href="{% url 'delete_expense' association expense.id %}">
			<button class="px-3 rounded-pill fs-6">Delete</button>
		</a>
	</div>

	{% endfor %}
</div>

{% endwith %} {% endblock content %}
