<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand fs-3" href="{% url 'home' %}">AGE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav mx-auto mb-2 mb-md-0">
                    {% if request.user.is_authenticated %}

                    {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="{% if 'roles' in request.path %}selected {% endif %}nav-link fs-5" aria-current="page" href="{% url 'roles' %}">Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="{% if 'bank_accounts' in request.path %}selected {% endif %}nav-link fs-5" aria-current="page" href="{% url 'bank_accounts' %}">Bank Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="{% if 'companies' in request.path %}selected {% endif %}nav-link fs-5" aria-current="page" href="{% url 'companies' %}">Companies</a>
                    </li>
                    <li class="nav-item">
                        <a class="{% if 'employees' in request.path %}selected {% endif %}nav-link fs-5" aria-current="page" href="{% url 'employees' %}">Employees</a>
                    </li>
                    {% endif %}
                    
                    {% if has_access_to_shop_management or has_access_to_factory_management or request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="{% if 'customers' in request.path %}selected {% endif %}nav-link fs-5" aria-current="page" href="{% url 'customers' %}">Customers</a>
                    </li>
                    {% endif %}

                    {% if has_access_to_shop_management or request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="{% if 'expenses/shop' in request.path %}selected {% endif %}nav-link fs-5" aria-current="page" href="{% url 'expenses' "shop" %}">Shop</a>
                    </li>
                    {% endif %}

                    {% if has_access_to_factory_management or request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="{% if 'expenses/factory' in request.path %}selected {% endif %}nav-link fs-5" aria-current="page" href="{% url 'expenses' "factory" %}">Factory</a>
                    </li>
                    {% endif %}

                    {% if has_access_to_warehouse_management or request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="{% if 'expenses/warehouse' in request.path %}selected {% endif %}nav-link fs-5" aria-current="page" href="{% url 'expenses' "warehouse" %}">Warehouse</a>
                    </li>
                    {% endif %}

                     <li class="nav-item">
                        <a class="{% if 'logout' in request.path %}selected {% endif %}nav-link fs-5" aria-current="page" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="{% if 'login' in request.path %}selected {% endif %}nav-link fs-5" aria-current="page" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}

            </ul>
        </div>
    </div>
</nav>
