* {
	font-family: "Neuton", serif;
}

.navbar-brand,
.nav-link {
	font-weight: bold;
	color: #343f71;
}

.navbar-brand:hover,
.nav-link:hover {
	font-weight: bold;
	color: #232b4b;
}

.form_container {
	background-color: #e9d8e4;
	border: #343f71 solid 3px;
	color: #232b4b;
}

.form_button {
	color: white;
	background-color: #232b4b;
}

.form_button:hover {
	color: #232b4b;
	background-color: white;
}
